div#toolbar-area {
	display: none;
}

div#torrent_logo {
	display: none;
}

#statusbar {
	display: none;
}

#remotesearch_container {
	padding: 0 0 0 0;
}

div#torrent_container {
	padding: 0 0 0 0;
}

